doctype html
html
  head
    style
      include ../static/style.css
  body

nav#navbar
 ul
    div#logo
      img(src="/static/nft.png")
      h5  METANFT WORLD 
      li #[a(href="/") Home ]
      li #[a(href="/") About ]
      li #[a(href="/") Service] 
      li #[a(href="/") Contact]
section#introsection 
  div  Welcome to web3 
  div.small  expand your knowledge

section#nftcollection 
  h2  Gold collection
  div.card 
    p revolution 

  div.card 
    p revolution 

  div.card 
    p revolution    
  

section#introforsponsership
   h2 Welecome to crypto world 
    
script
include ../static/index.js